.header {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: rgba(255, 209, 141, 0.302); */
  }
  .logo {
    font-weight: 700;
    padding-left: 50px;
    font-size: 40px;
    font-family: serif;
  }
  .hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0;
    cursor: pointer;
  }
  .hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: #242424;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
  }
  .hamburger-menu__bar:first-child {
    top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
    top: 24px;
  }
  .hamburger-menu__bar:last-child {
    top: 32px;
  }
  .hamburger-menu--open .hamburger-menu__bar {
    top: 50%;
  }
  .hamburger-menu--open .hamburger-menu__bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    display: none;
  }
  .navigation {
    display: none;
    background:rgba(255, 209, 141, 0.984);
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 9999;
  }
  .navigation__list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navigation__list-item {
    border-bottom: solid 1px #474747;
  }
  .navigation__list-item:first-child {
    border-top: solid 1px #474747;
  }
  .navigation__link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    transition: .5s;
  }
  @media (hover: hover) and (pointer: fine) {
    .navigation__link:hover {
      background: #333;
    }
  }

.section1{
    width: 100vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 90vw;
    height: 90vh;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 209, 141, 0.302);
    border-radius: 50px;
}

.box>h1{
    font-size: 50px;
    font-family: serif;
}

.infometion>form{
  display: flex;
  flex-direction: column;
}
.text{
  width: 50vw;
}